.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 32%
    right: 87%
    z-index: 3
    width: 11%

  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 31%
    right: 19%
    z-index: 3
    width: 11%
  &-3
    position: absolute
    top: 6%
    right: 23%
    width: 56%
    z-index: 2
  &-4
    animation: float1 8.8s ease-in-out infinite alternate
    position: absolute
    top: 21%
    right: 22% 
    width: 75%  

  .banner-princiapal.svg
    right: 20% 
    width: 80% 


  
    
  




@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.color_anexo2
  background-color: #FFFAE1