.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 32%
    right: 87%
    z-index: 3
    width: 11%

  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 31%
    right: 19%
    z-index: 3
    width: 11%
  &-3
    position: absolute
    top: 6%
    right: 23%
    width: 56%
    z-index: 2
  &-4
    animation: float1 8.8s ease-in-out infinite alternate
    position: absolute
    top: 21%
    right: 22% 
    width: 75%  

  .banner-princiapal.svg
    right: 20% 
    width: 80% 


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)


// Estilos extras

//.cajon.color-acento-contenido:before 
    //background-color: #fda829

//Tema 1  
.img1_t1
    margin-left: 71px
 
.color-acento-contenido1
  background: #FFF2DF

.color-secundario2
  background: #26C7DB
  width: 90%
  margin-left: 43px
 
.bloque-texto-g__texto-t3 
  position: relative
  width: 70%
  background-color: rgba(255, 255, 255, 0.95)
  @media (max-width: 500px)
    width: 100%

 

// Estilos extras para el Tema 2    
.color_anexo2
  background: #FFFAE1

//.cuadro-texto-color-t2
  //margin-left: 100px 

.cajon:before 
    content: ''
    display: block
    width: 25px
    height: 10px
    position: absolute
    top: 0
    left: 0
    background-color: #FED935
  

.color_anexo3
  background:  #DEF7FA

.color_acordeon
  background-color:  #FED94A 

.acordion__accion__btn--a 
    background-color: #fed94a
  
.lista-ol--cuadro__vineta2
  background-color: #fed94a
  display: inline-block
  min-width: 24px
  height: 24px
  color: #000000
  position: relative
  margin-right: 8px
  font-weight: bold
  text-align: center

.bloque-texto-g__texto2
    position: relative
    width: 60%
    margin-right: 38%
    background-color: rgba(255, 255, 255, 0.95)
.bloque-texto-g__img2 
    width: 50%
    position: absolute
    top: 0
    left: 50%
    bottom: 0
    background-position: center
    background-size: cover

.tarjeta.color-acento-botones4 
    background-color: #FEF1DE
    border: solid 4px #f57c22

.img-infografica-b__modal
  background-color: #FEF1DE
  border: solid 4px #f57c22
  width: auto

.img-infografica-b__modal__btn-cerrar i
  color: #f57c22

.img-infografica-b__item__tooltip
  background-color: #cccccc00

.img-infografica-b__modal__contenido div > *
  color: #12263F !important

.heading_t4
  color: #FFFFFF

//Tema 4  

.img1_t4
    margin-left: 25% 
.img1_t42
   margin-left: 9%  

.img1_t43
    width: 52%
    margin-left: 81px

//.lista-ul--color li > i:first-of-type 
  //color: #009688    

.img11-tm1
  position: relative
  width: 70%
  left: 20%
  @media (max-width: 500px)
    width: 100%
    left: 0%
   
///////////////// Bloque texto G-----------------

.bloque-texto-g1__img 
  width: 50%
  position: absolute
  top: 0
  left: 50%
  bottom: 0
  background-position: center
  background-size: cover
  @media (max-width: 500px)
    height: 250px
    width: 100%
    left: 0%

.bloque-texto-g1__texto 
  position: relative
  width: 65%
  background-color: rgba(255, 255, 255, 0.95)
  right: 35%
  @media (max-width: 500px)
    width: 100%
    right: 0%
   
 
   
  
 
 


  